<mat-form-field appearance="outline" [formGroup]="form" fxFill>
    <mat-label>{{question.prompt}}</mat-label>
    <input matInput [matDatepicker]="datePicker" [formControlName]="question.dataName" [required]="question.required">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
    <mat-error *ngIf="datepickerControl.hasError('required')">This question must be answered</mat-error>
    <mat-error *ngIf="!datepickerControl.valid">This date value is invalid
    </mat-error>
</mat-form-field>