@import "./app-theme";

body {
  margin: 0;
}


.expanded-toolbar {
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.img-fluid {
  width: auto;
  height: 7em !important;
}

.flex {
  display: flex;
  text-align: center;
}

button {
  &.image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 10em !important;
    height: 10em !important;
    margin-top: 14px;
    margin-left: -1em;
  }
}