<div fxLayoutAlign="center" class="content" style="margin-top: 20px">
    <mat-card class="survey-card" fxLayout="column" fxFlex="60" fxFill>
        <mat-card-header fxLayout="row" fxLayoutAlign="center">
            <mat-card-title>[{{ survey.title }}] Submission by {{ submission.respondentId }}</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center" *ngFor="let a of submission.answers; let i = index">
            <mat-card fxLayoutAlign="center" fxFill fxLayout="column" class="mat-elevation-z3" matBadgePosition="after"
                matBadgeColor="primary" matBadge="{{i + 1}}">
                Q:
                <mat-form-field>
                    <input class="responseInput" matInput [value]="getQuestion(a).prompt" disabled />
                </mat-form-field>
                A:
                <mat-form-field>
                    <input class="responseInput" matInput [value]="getAnswers(a)" disabled />
                </mat-form-field>
            </mat-card>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center">
            <button fxFlex="30" color="primary" mat-flat-button type="button" (click)=exportAsJson()>
                Export as Json
            </button>
        </mat-card-actions>
    </mat-card>
</div>