<div class="content" fxLayoutAlign="center center" fxLayout="column">
  <h1 class="mat-h1" style="margin-top: 16px">About Us</h1>
  <mat-card fxLayout="column" fxFill fxFlex="60" class="survey-card">
    <img src="assets/logo/centennialLogo.jpeg" class="image" />
    <h3>Welcome to the survey building website</h3>
    <p>
      Hi, we are Team 5 from COMP229 - Web Application Development of Centennial
      College. <br />
      This website is our final project. It makes creating survey quick and
      simple. <br />
      Here are some highlight features:
    </p>
    <ul>
      <li>Register user</li>
      <li>Create survey with text-input, multiple-choices, and checkboxes</li>
      <li>View surveys and their answer</li>
    </ul>
  </mat-card>
</div>
